@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

$mofertomatColor: #ddd;
$mofertomatBackground: #1e1a1a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.mofertomat-wrapper {
    padding: 10px;
    color: $mofertomatColor;
    background-color: $mofertomatBackground;

    header {
        padding: 5px;
        margin-bottom: 5px;

        h1 {
            font-size: 25px;
            text-align: center;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 16px;
            text-align: center;
            padding: 5px;
            border: 1px solid aqua;
            border-radius: 5px;
        }

    }

    .prices {
        padding: 5px;

        button {
            display: block;
            margin: 0 auto;
            padding: 10px;
            background: transparent;
            border: 1px solid aliceblue;
            color: $mofertomatColor;
            font-size: 15px;
            border-radius: 2px;
            cursor: pointer;
            font-weight: bolder;
        }

        &__choose-gt {
            position: fixed;
            background-color: $mofertomatBackground;
            width: 100vw;
            height: 100vh;
            top: 0px;
            left: 0px;
            padding: 10px;
            display: none;
            flex-direction: column;

            .close-window {
                align-self: flex-end;
            }

            h2 {
                text-align: center;
                font-size: 18px;
                padding-bottom: 5px;
                border-bottom: 1px solid;
            }

            .gt-organizer {
                display: flex;
                flex-wrap: wrap;
                align-content: space-evenly;
                justify-content: space-around;
                height: 80%;
            }

        }

        &__gt-btn {
            padding: 5px;
            width: 70px;
            height: 30px;
            text-align: center;
            border: 1px solid yellowgreen;
            line-height: 18px;
            font-weight: bolder;
            cursor: pointer;
        }

        &__insert {
            display: none;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 1;
            background-color: $mofertomatBackground;
            padding: 10px;
            text-align: center;
            min-height: 100vh;

            h2 {
                color: yellowgreen;
                font-size: 25px;
            }

            p {
                padding: 5px;
                font-size: 18px;
                line-height: 130%;
                margin-bottom: 20px;
            }

            select {
                background-color: transparent;
                color: yellowgreen;
                font-weight: bolder;
                font-size: 20px;
                padding: 5px;
                margin-bottom: 10px;

                option {
                    background-color: $mofertomatBackground;
                }
            }

            label {
                font-size: 20px;
            }

            input {
                font-size: 20px;
                width: 100px;
                margin-left: 10px;
            }

            button {
                margin-top: 30px;
            }
        }
    }
}

.close-window {
    width: 100px;
    text-align: center;
    border: 1px solid;
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;
}

.gt {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-weight: bolder;
        font-size: 18px;
        color: yellowgreen;
        margin-bottom: 10px;
    }

    select {
        background-color: $mofertomatBackground;
        color: yellowgreen;
        font-size: 20px;

        option {
            background-color: $mofertomatBackground;
            color: yellowgreen;
            font-size: 20px;
        }
    }
}

.date {
    padding: 5px;

    h3 {
        text-align: center;
        color: yellowgreen;
        margin-bottom: 10px;
    }

    span {
        display: block;
        text-align: center;
        font-weight: bolder;
        letter-spacing: 1px;
        color: #a5bb775c;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        select {
            background-color: $mofertomatBackground;
            color: yellowgreen;
            font-size: 20px;
            font-weight: bolder;
            width: 100px;
            text-align: center;

            option {
                background-color: $mofertomatBackground;
                color: yellowgreen;
            }
        }
    }

    div:nth-child(3) {
        margin-top: 10px;
        flex-direction: column;
    }
}

.proposition {
    padding: 5px;

    div {
        margin-bottom: 10px;

        span {
            display: block;
            text-align: center;
            font-weight: bolder;
            font-size: 15px;
            color: yellowgreen;
        }

        label {
            font-weight: bolder;
            letter-spacing: 1px;
            margin-right: 5px;
            align-self: center;
        }

        input {
            font-size: 20px;
            width: 100px;
            height: 30px;
            color: $mofertomatColor;
            background-color: $mofertomatBackground;
            border: 1px solid $mofertomatColor;

        }

    }

    &__span--sub-text {
        color: #a5bb775c !important;
    }

    div div {
        display: flex;
        justify-content: center;
    }

    .calculate-btn-wrapper,
    .clean-btn-wrapper {
        display: flex;
        justify-content: center;
    }

    button {
        border: none;
        background-color: unset;
        position: relative;
        display: inline-block;
        padding: 25px 30px;
        margin: 40px 0;
        color: #fa6900;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 4px;
        overflow: hidden;
        margin-right: 50px;
        filter: hue-rotate(110deg);

    }

    button:hover {
        background: #fa6900;
        color: #fff;
        box-shadow: 0 0 5px #fa6900,
            0 0 25px #fa6900,
            0 0 50px #fa6900,
            0 0 200px #fa6900;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }

    button span {
        position: absolute;
        display: block;
    }

    button span:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #fa6900);
        animation: animate1 1s linear infinite;
    }

    @keyframes animate1 {
        0% {
            left: -100%;
        }

        50%,
        100% {
            left: 100%;
        }
    }

    button span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #fa6900);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
    }

    @keyframes animate2 {
        0% {
            top: -100%;
        }

        50%,
        100% {
            top: 100%;
        }
    }

    button span:nth-child(3) {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #fa6900);
        animation: animate3 1s linear infinite;
        animation-delay: 0.50s;
    }

    @keyframes animate3 {
        0% {
            right: -100%;
        }

        50%,
        100% {
            right: 100%;
        }
    }


    button span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #fa6900);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
    }

    @keyframes animate4 {
        0% {
            bottom: -100%;
        }

        50%,
        100% {
            bottom: 100%;
        }
    }

}

.clean-btn-wrapper {
    button {
        filter: hue-rotate(200deg);
    }
}

.proposition__note {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(26, 22, 22);
    padding: 20px;
    flex-direction: column;
    justify-content: center;

    .close-window {
        position: absolute;
        top: 20px;
        left: 10px;
    }

    p {
        font-size: 25px;
        text-align: center;

        span {
            color: yellowgreen;
            font-weight: bolder;
            letter-spacing: 2px;
        }
    }

}

.container-check {
    // height: 100vh;
    // width: 600px;
    // margin: auto;
    // margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh;
    align-items: center;
    justify-items: center;
  
    .checkbox-con {
      margin: 10px;
      display: flex;
      align-items: center;
  
      input[type="checkbox"] {
        appearance: none;
        width: 48px;
        height: 27px;
        border: 2px solid #ff0000;
        border-radius: 20px;
        background: #f1e1e1;
        position: relative;
        // transition: all 0.3s ease-in-out;
        box-sizing: border-box;
        font-size: 15px;
  
        &::before {
          content: "";
          width: 14px;
          height: 14px;
          background: rgba(234, 7, 7, 50%);
          border: 2px solid #ea0707;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(13%, 15%);
          transition: all 0.3s ease-in-out;
        }
  
        &::after {
          content: url(https://svgshare.com/i/YrQ.svg);
          position: absolute;
          top: 0;
          left: 20px;
          // transform: translate(90%, 0%);
          // transition: all 0.3s ease-in-out;
        }
  
        &:checked {
          border: 2px solid #02c202;
          background: #e2f1e1;
          // transition: all 0.3s ease-in-out;
  
          &::before {
            background: rgba(2, 194, 2, 50%);
            border: 2px solid #02c202;
            transform: translate(133%, 13%);
            transition: all 0.3s ease-in-out;
          }
  
          &::after {
            content: url(https://svgshare.com/i/Yr4.svg);
            position: absolute;
            top: 5px;
            left: 5px;
            // transform: translate(40%, 30%);
            // transition: all 0.3s ease-in-out;
          }
        }
      }
  
      label {
        margin-left: 10px;
        color: #4caf50;
      }
    }
  }
  