@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

$mofertomatColor: #ddd;
$mofertomatBackground: #1e1a1a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.mofertomat-wrapper {
    padding: 10px;
    color: $mofertomatColor;
    background-color: $mofertomatBackground;
    header {
        padding: 5px;
        margin-bottom: 5px;
        h1 {
            font-size: 20px;
            text-align: center;
        }
        h2 {
            font-size: 16px;
            text-align: center;
            padding: 5px;
            border: 1px solid aqua;
            border-radius: 5px;
        }
        
    }
    .prices {
        padding: 5px;
        button {
            display: block;
            margin: 0 auto;
            padding: 10px;
            background: transparent;
            border: 1px solid aliceblue;
            color: $mofertomatColor;
            font-size: 15px;
            border-radius: 2px;
            cursor: pointer;
            font-weight: bolder;
        }
        &__choose-gt {
            position: fixed;
            background-color: $mofertomatBackground;
            width: 100vw;
            height: 100vh;
            top: 0px;
            left: 0px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            .close-window {
                align-self: flex-end;
            }
            h2 {
                text-align: center;
                font-size: 18px;
                padding-bottom: 5px;
                border-bottom: 1px solid;
            }
            .gt-organizer {
                display: flex;
                flex-wrap: wrap;
                align-content: space-evenly;
                justify-content: space-around;
                height: 80%;
            }
            
        }
        &__gt-btn {
            padding: 5px;
            width: 70px;
            height: 30px;
            text-align: center;
            border: 1px solid yellowgreen;
            line-height: 18px;
            font-weight: bolder;
            cursor: pointer;
        }
    }
}

.close-window {
    width: 100px;
    text-align: center;
    border: 1px solid;
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;
}